@model proyecto.Models.Inmueble

@{
    ViewData["Title"] = "Eliminar Inmueble";
}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="flex: 1; position: absolute; text-align: center; position: absolute; left: 50%; transform: translateX(-50%);">ELIMINAR INMUEBLE N°: @ViewBag.IdInmu</h3>
    <div style="margin-left: auto;">
        @{
            string returnUrl = (string)ViewBag.ReturnUrl ?? "Index";
            string idPropietario = (string)ViewBag.IdPropi ?? "0";
        }
        @if(returnUrl == "InmueblexPropietario"){
            <form action="/Inmuebles/InmueblexPropietario" method="POST">
                <input type="hidden" name="IdPropietario" value="@idPropietario"></input>
                <input type="submit" value="Volver atras" class="btn btn-secondary" />
            </form>
        }else{
            <a href="@Url.Action(returnUrl, "Inmuebles")" class="btn btn-secondary">Volver atrás</a>
        }
    </div>
</div>
<hr />
<p style="text-align: center;">¿Estas seguro que desea eliminar el inmueble? Una vez eliminado no hay forma de recuperarlo.</p>
<div class="contenidoDelete">
    <dl>
        <dt>Nombre del Propietario</dt>
        <dd>@(Model.Duenio.Nombre + " " + Model.Duenio.Apellido)</dd>
        <dt>Cantidad de Ambientes</dt>
        <dd>@Html.DisplayFor(model => model.CantidadDeAmbientes)</dd>
        <dt>@Html.DisplayNameFor(model => model.Uso)</dt>
        <dd>@Html.DisplayFor(model => model.Uso)</dd>
        <dt>@Html.DisplayNameFor(model => model.Direccion)</dt>
        <dd>@Html.DisplayFor(model => model.Direccion)</dd>
        <dt>@Html.DisplayNameFor(model => model.Tipo)</dt>
        <dd>@Html.DisplayFor(model => model.Tipo)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Longitud)</dt>
        <dd>@Html.DisplayFor(model => model.Longitud)</dd>
        <dt>@Html.DisplayNameFor(model => model.Latitud)</dt>
        <dd>@Html.DisplayFor(model => model.Latitud)</dd>
        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>$@Html.DisplayFor(model => model.Precio)</dd>
        <dt>@Html.DisplayNameFor(model => model.Disponible)</dt>
        <dd>
            @if (Model.Disponible.ToString() == "True") {
                <p>Disponible</p>
            }else{
                <p>No Disponible</p>
            }
        </dd>
        <div class="form-group" style="margin-top: 10px; float: right;">
            <form asp-action="Delete">
                <input type="button" value="Eliminar" class="btn btn-danger" onclick='eliminar(@ViewBag.IdInmu,this,"Inmuebles")' />
            </form>
        </div>
    </dl>
</div>
