@model proyecto.Models.Inmueble

@{
    ViewData["Title"] = "Editar Inmueble";
}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="flex: 1; text-align: center; position: absolute; left: 50%; transform: translateX(-50%);">EDITAR INMUEBLE N°: @ViewBag.IdInmu</h3>
    <div style="margin-left: auto;">
        @{
            string returnUrl = (string)ViewBag.ReturnUrl ?? "Index";
            string idPropietario = (string)ViewBag.IdPropi ?? "0";
        }
        @if(returnUrl == "InmueblexPropietario"){
            <form style="float: right;" action="/Inmuebles/InmueblexPropietario" method="POST">
                <input type="hidden" name="IdPropietario" value="@idPropietario"></input>
                <input type="submit" style="float: right;" value="Volver atras" class="btn btn-secondary" />
            </form>
        }else{
            <a href="@Url.Action(returnUrl, "Inmuebles")" style="float: right;" class="btn btn-secondary">Volver atrás</a>
        }
    </div>
</div>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="Edit">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" hidden>
                    <input name="IdInmueble" value="@ViewBag.IdInmu" />
                </div>
                <div class="form-group">
                    <label class="control-label">PROPIETARIO:</label>
                    <select class="form-select" name="IdPropietario" required>
                        @foreach (var item in ViewBag.Propietarios){
                            @:<option @(item.IdPropietario==Model.IdPropietario ? "selected" : "") value="@item.IdPropietario">@(item.ToString())</option>
                        }
                    </select>
                    <span asp-validation-for="IdPropietario" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px; ">
                <div class="form-group">
                    <label asp-for="CantidadDeAmbientes" style="width: max-content;" class="control-label">CANTIDAD DE AMBIENTES:</label>
                    <input asp-for="CantidadDeAmbientes" class="form-control" required/>
                    <span asp-validation-for="CantidadDeAmbientes" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Uso" class="control-label">USO:</label>
                    <select asp-for="Uso" class="form-select" required>
                        <option value="comercial">Comercial</option>
                        <option value="residencial">Residencial</option>
                    </select>
                    <span asp-validation-for="Uso" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label">DIRECCION:</label>
                    <input asp-for="Direccion" class="form-control" required />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label">TIPO:</label>
                    <select asp-for="Tipo" class="form-select" required>
                        <option value="local">Local</option>
                        <option value="deposito">Deposito</option>
                        <option value="casa">Casa</option>
                        <option value="departamento">Departamento</option>
                    </select>
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Longitud" class="control-label">LONGITUD:</label>
                    <input type="number" asp-for="Longitud" class="form-control" required/>
                    <span asp-validation-for="Longitud" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Latitud" class="control-label">LATITUD:</label>
                    <input type="number" asp-for="Latitud" class="form-control" required/>
                    <span asp-validation-for="Latitud" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="Precio" class="control-label">PRECIO:</label>
                    <input type="number" asp-for="Precio" class="form-control" required/>
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Disponible"/> @Html.DisplayNameFor(model => model.Disponible)
                    </label>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <input type="submit" style="float: right;" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>