@model List<proyecto.Models.Inmueble>
@{
    ViewData["Title"] = "Index";
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create">Crear Nuevo Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Propietario</h3>
            </th>
            <th>
                <h3>Precio</h3>
            </th>
            <th>
                <h3>Direccion</h3>
            </th>
            <th>
                <h3>Disponible</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInmueble)
            </td>
            <td>
                @(item.Duenio.Nombre + " " + item.Duenio.Apellido)              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @if (item.Disponible.ToString() == "True") {
                    <p>Disponible</p>
                    }else{
                        <p>No Disponible</p>
                    }
            </td>
            @if(User.IsInRole("administrador")){
                <td>
                @Html.ActionLink("Editar", "Edit", new { id= item.IdInmueble}) |
                @Html.ActionLink("Detalles", "Details", new { id= item.IdInmueble }) |
                @Html.ActionLink("Eliminar", "Delete", new { id= item.IdInmueble })
                </td>
            }else{
                <td>
                @Html.ActionLink("Editar", "Edit", new { id= item.IdInmueble}) |
                @Html.ActionLink("Detalles", "Details", new { id= item.IdInmueble })
            </td>
            }
        </tr>
        }
    </tbody>
</table>
