@model List<proyecto.Models.Inmueble>
@{
    ViewData["Title"] = "Index";
}

<h1>Inmueble</h1>

<p>
    <a asp-action="Create">Crear Nuevo Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>IdInmueble</h3>
            </th>
            <th>
                <h3>Nombre del Propietario</h3>
            </th>
            <th>
                <h3>CantidadDeAmbientes</h3>
            </th>
            <th>
                <h3>Uso</h3>
            </th>
            <th>
                <h3>Direccion</h3>
            </th>
            <th>
                <h3>Tipo</h3>
            </th>
            <th>
                <h3>Longitud</h3>
            </th>
            <th>
                <h3>Latitud</h3>
            </th>
            <th>
                <h3>Precio</h3>
            </th>
            <th>
                <h3>Disponible</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInmueble)
            </td>
            <td>
                @(item.Duenio.Nombre + " " + item.Duenio.Apellido)              
            </td>                    
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeAmbientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @if (item.Disponible.ToString() == "True") {
                    <p>True</p>
                    }else{
                        <p>False</p>
                    }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id= item.IdInmueble}) |
                @Html.ActionLink("Detalles", "Details", new { id= item.IdInmueble }) |
                @Html.ActionLink("Eliminar", "Delete", new { id= item.IdInmueble })
            </td>
        </tr>
        }
    </tbody>
</table>
