@model List<proyecto.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h2>LISTADO DE INQUILINOS</h2>
<hr />
<p><a asp-action="Create" class="btn btn-primary">Crear Inquilino</a></p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdInquilino)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
            <td>@Html.DisplayFor(modelItem => item.Dni)</td>
            @if(User.IsInRole("administrador")){
                <td>
                    <a href="@Url.Action("Edit", new { id=item.IdInquilino  })" class="btn btn-primary">Editar</a>
                    <a href="@Url.Action("Details", new { id=item.IdInquilino })" class="btn btn-secondary">Detalles</a>
                    <a href="@Url.Action("Delete", new { id=item.IdInquilino })" class="btn btn-danger">Eliminar</a>
                </td>
            }else{
                <td>
                    <a href="@Url.Action("Edit", new { id=item.IdInquilino  })" class="btn btn-primary">Editar</a>
                    <a href="@Url.Action("Details", new { id=item.IdInquilino })" class="btn btn-secondary">Detalles</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
