@model proyecto.Models.Pago

@{
    ViewData["Title"] = "Detalles Pago";
}

<h3 style="text-align: center;">DETALLES DEL PAGO N°: @ViewBag.IdPag</h3>
<hr />
<div class="contenedorDetalles">
    <dl>
        <dt>Numero de Pago</dt>
        <dd>@Html.DisplayFor(model => model.NumeroDePago)</dd>
        <dt>Fecha De Pago</dt>
        <dd>@(Model.FechaDePago.ToShortDateString())</dd>
        <dt>Numero de Contrato</dt>
        <dd>@(Model.IdContrato)</dd>
    </dl>
    <dl>
        <dt>Direccion</dt>
        <dd>@(Model.Contrato.Lugar.Direccion)</dd>
        <dt>@Html.DisplayNameFor(model => model.Importe)</dt>
        <dd>$@Html.DisplayFor(model => model.Importe)</dd>
        <dt>Contrato a Nombre de</dt>
        <dd>@(Model.Contrato.Vive.Nombre+" "+Model.Contrato.Vive.Apellido)</dd>
        <div class="form-group" style="margin-top: 10px; float: right;">
            <form action='/Pagos/Edit/@Model.IdPago'>
                <button type="submit" class="btn btn-primary">Editar</button> |
                <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
            </form>
        </div>
    </dl>
</div>

