@model List<proyecto.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<h2>LISTADO DE PAGOS</h2>
<hr />
<div class="opcionesContenedor">
    <p><a asp-action="Create" class="btn btn-primary">Crear Nuevo Pago</a></p>
    <p><a asp-action="FormContrato" class="btn btn-primary">Listar todos los Pagos de un Contrato</a></p>
</div>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>DIRECCION</th>
            <th>NUMERO DE PAGO</th>
            <th>FECHA</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPago)</td>
                <td>@(item.Contrato.Lugar.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroDePago)</td>
                <td>@(item.FechaDePago.ToShortDateString())</td>
                @if(User.IsInRole("administrador")){
                    <td>
                        <a href="@Url.Action("Edit", new {  id=item.IdPago })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Details", new {  id=item.IdPago })" class="btn btn-secondary">Detalles</a>
                        <a href="@Url.Action("Delete", new {  id=item.IdPago })" class="btn btn-danger">Eliminar</a>
                    </td>
                }else{
                    <td>
                        <a href="@Url.Action("Edit", new {  id=item.IdPago })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Details", new {  id=item.IdPago })" class="btn btn-secondary">Detalles</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
