@model List<proyecto.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id Pago</h3>
            </th>
            <th>
                <h3>Numero De Pago</h3>
            </th>
            <th>
                <h3>Contrato a Nombre de</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDePago)
            </td>
            <td>
                @(item.contrato.Vive.Nombre + " " + item.contrato.Vive.Apellido)
            </td>
            @if(User.IsInRole("administrador")){
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.IdPago }) |
                    @Html.ActionLink("Detalles", "Details", new {  id=item.IdPago }) |
                    @Html.ActionLink("Eliminar", "Delete", new {  id=item.IdPago })
                </td>
            }else{
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.IdPago }) |
                    @Html.ActionLink("Detalles", "Details", new {  id=item.IdPago })
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
