@model List<proyecto.Models.Pago>

@{
    ViewData["Title"] = "Index";
    int idContrato = ViewBag.IdContrato;
}

<h3>LISTADO DE TODOS LOS PAGOS PARA EL CONTRATO N°: @ViewBag.IdContrato</h3>
<hr />
<div class="opcionesContenedor">
    <p><a asp-action="NuevoPago" asp-route-id="@idContrato" class="btn btn-primary">Realizar Pago</a></p>
    <p><a asp-action="FormContrato" class="btn btn-secondary">Volver atras</a></p>
</div>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>DIRECCION</th>
            <th>NUMERO DE PAGO</th>
            <th>FECHA DE PAGO</th>
            <th>IMPORTE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPago)</td>
                <td>@(item.Contrato.Lugar.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroDePago)</td>
                <td>@(item.FechaDePago.ToShortDateString())</td>
                <td>$@Html.DisplayFor(modelItem => item.Importe)</td>
            </tr>
        }
    </tbody>
</table>
