@model List<proyecto.Models.Propietario> 
@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Propietario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Nombre</h3>
            </th>
            <th>
                <h3>Apellido</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            @if(User.IsInRole("administrador")){
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.IdPropietario  }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.IdPropietario }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPropietario })
                </td>
            }else{
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.IdPropietario  }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.IdPropietario })
                </td>
            }
            
        </tr>
}
    </tbody>
    </tbody>
</table>
