@model proyecto.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h3 style="text-align: center;">ELIMINAR USUARIO N°: @ViewBag.IdUs</h3>
<hr />
<p style="text-align: center;">¿Estas seguro que quieres eliminarlo? Una vez eliminado no podras recuperar la informacion del usuario.</p>
<div class="contenidoDelete">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd>@Html.DisplayFor(model => model.Nombre)</dd>
        <dt>@Html.DisplayNameFor(model => model.Apellido)</dt>
        <dd>@Html.DisplayFor(model => model.Apellido)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Rol)</dt>
        <dd>@Html.DisplayFor(model => model.Rol)</dd>
        <div class="form-group" style="margin-top: 10px; float: right;">
            <form asp-action="Delete">
                <input type="button" value="Eliminar" class="btn btn-danger" onclick='eliminar(@ViewBag.IdUs,this,"Usuarios")' /> |
                <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
            </form>
        </div>
    </dl>
</div>
