@model proyecto.Models.Usuario

@{
    ViewData["Title"] = "Detalles Usuario";
}

<h3 style="text-align: center;">DETALLES DEL USUARIO N°: @ViewBag.IdUs</h3>
<hr />
<div class="contenedorDetalles">
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd>@Html.DisplayFor(model => model.Nombre)</dd>
        <dt>@Html.DisplayNameFor(model => model.Apellido)</dt>
        <dd> @Html.DisplayFor(model => model.Apellido)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Rol)</dt>
        <dd>@Html.DisplayFor(model => model.Rol)</dd>
    </dl>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Avatar)</dt>
        <dd>
            @if(!String.IsNullOrEmpty(Model.Avatar)){
                <img width="150" src="@Model.Avatar">
            }else{
                <img width="150" src="https://localhost:7183/Uploads/sinfoto.jpg">
            }
        </dd>
        <div class="form-group" style="margin-top: 10px; float: right;">
            <form action='/Usuarios/Edit/@Model.IdUsuario'>
                <button type="submit" class="btn btn-primary">Editar</button> |
                <button class="btn btn-secondary" asp-action="Index">Volver atras</button>
            </form>
        </div>
    </dl>
</div>