@model IEnumerable<proyecto.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>LISTADO DE USUARIOS</h2>
<hr />
<p><a asp-action="Create" class="btn btn-primary">Crear Usuario</a></p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>CORREO ELECTRONICO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.IdUsuario, returnUrl = "Index"  })" class="btn btn-primary">Editar</a>
                    <a href="@Url.Action("Details", new { id=item.IdUsuario  })" class="btn btn-secondary">Detalles</a>
                    <a href="@Url.Action("Delete", new { id=item.IdUsuario  })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
