@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Eliminar Contrato";
}

<h3 style="text-align: center;">ELIMINAR CONTRATO N°: @ViewBag.IdContra</h3>
<hr />
<p style="text-align: center;">¿Estas seguro que desea eliminar el contrato? Una vez eliminado no hay forma de recuperarlo.</p>
<div class="contenidoDelete">
    <dl>
        <dt>Nombre del Propietario</dt>
        <dd>@(Model.Lugar.Duenio.Nombre + " " + Model.Lugar.Duenio.Apellido)</dd>
        <dt>Nombre Inquilino</dt>
        <dd>@(Model.Vive.Nombre + " "+ Model.Vive.Apellido)</dd>
    </dl>
    <dl>
        <dt>Fecha Desde</dt>
        <dd>@(Model.FechaDesde.Value.ToShortDateString())</dd>
        <dt>Fecha Hasta</dt>
        <dd>@(Model.FechaHasta.Value.ToShortDateString())</dd>
        <div class="form-group" style="float: right;">
            <form asp-action="Delete">
                <input type="button" value="Eliminar" class="btn btn-danger" onclick='eliminar(@ViewBag.IdContra,this,"Contratos")' /> |
                @{
                    string returnUrl = (string)ViewBag.ReturnUrl ?? "Index";
                }
                <a href="@Url.Action(returnUrl, "Contratos")" class="btn btn-secondary">Volver atrás</a>
            </form>
        </div>
    </dl>
</div>
