@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
}

<h3 style="text-align: center;">EDITAR CONTRATO N°: @ViewBag.IdContra</h3>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="Edit">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdInmueble" class="control-label">INMUEBLE:</label>
                    <input asp-for="IdInmueble" class="form-control" hidden/>
                    <input class="form-control" readonly value="@ViewBag.Inmuebles.IdInmueble - @ViewBag.Inmuebles.Direccion"/>
                    <span asp-validation-for="IdInmueble" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="IdContrato" class="control-label"></label>
                    <input asp-for="IdContrato" class="form-control"/>
                    <span asp-validation-for="IdContrato" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="IdInquilino" class="control-label">INQUILINO:</label>
                    <input asp-for="IdInquilino" class="form-control" hidden/>
                    <input class="form-control" readonly value="@ViewBag.Inquilinos.Nombre @ViewBag.Inquilinos.Apellido"/>
                    <span asp-validation-for="IdInquilino" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="FechaDesde" class="control-label">FECHA DESDE:</label>
                    <input asp-for="FechaDesde" class="form-control"/>
                    <span asp-validation-for="FechaDesde" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="FechaHasta" class="control-label">FECHA HASTA:</label>
                    <input asp-for="FechaHasta" class="form-control"/>
                    <span asp-validation-for="FechaHasta" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    @{
                        string returnUrl = (string)ViewBag.ReturnUrl ?? "Index";
                    }
                    <a href="@Url.Action(returnUrl, "Contratos")" class="btn btn-secondary">Volver atrás</a>
                </div>
            </div>
        </div>
    </form>
</div>