@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
}

<h1>Editar Contrato</h1>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label">Id</label>
                <input asp-for="IdContrato" class="form-control" readonly/>
                <span asp-validation-for="IdContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInmueble" class="control-label">Direccion</label>
                <select class="form-select" name="IdInmueble">
                    @foreach(var item in ViewBag.Inmuebles){
                        @:<option @(item.IdInmueble==Model.IdInmueble ? "selected" : "") value="@item.IdInmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Inquilino</label>
                <select class="form-select" name="IdInquilino">
                    @foreach (var item in ViewBag.Inquilinos){
                        @:<option @(item.IdInquilino==Model.IdInquilino ? "selected" : "") value="@item.IdInquilino">@(item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label">Fecha Desde</label>
                <input asp-for="FechaDesde" class="form-control"/>
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label">Fecha Hasta</label>
                <input asp-for="FechaHasta" class="form-control"/>
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-action="Index">Volver atras</a>
            </div>
        </form>
    </div>
</div>

