@model List<proyecto.Models.Contrato> 

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>
<div class="opcionesContenedor">
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo Contrato</a>
    </p>
    <p>
        <a asp-action="FormFecha" class="btn btn-primary">Listar Contratos Vigentes por rango de fechas</a>
    </p>
    <p>
        <a asp-action="FormInmueble" class="btn btn-primary">Listar Todos los Contratos de un Inmueble</a>
    </p>
    <p>
        <a asp-action="FormRangoFecha" class="btn btn-primary">Listar Todos los Inmuebles desocupados por fecha</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Direccion</h3>
            </th>
            <th>
                <h3>Inquilino</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @(item.Lugar.Direccion)           
            </td>                    
            <td>
                @(item.Vive.Nombre + " " + item.Vive.Apellido) 
            </td>
                @if(User.IsInRole("administrador")){
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.IdContrato })
                    </td>
                }else{
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato })
                    </td>
                }
        </tr>
        }
    </tbody>
</table>
