@model List<proyecto.Models.Contrato> 

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Direccion</h3>
            </th>
            <th>
                <h3>Inquilino</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @(item.Lugar.Direccion)           
            </td>                    
            <td>
                @(item.Vive.Nombre + " " + item.Vive.Apellido) 
            </td>
                @if(User.IsInRole("administrador")){
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.IdContrato })
                    </td>
                }else{
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato })
                    </td>
                }
        </tr>
        }
    </tbody>
</table>
