@model List<proyecto.Models.Contrato> 

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>IdContrato</h3>
            </th>
            <th>
                <h3>IdInmueble</h3>
            </th>
            <th>
                <h3>Nombre del Inquilino</h3>
            </th>
            <th>
                <h3>FechaDesde</h3>
            </th>
            <th>
                <h3>FechaHasta</h3>
            </th>
            <th>
                <h3>Opciones</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInmueble)             
            </td>                    
            <td>
                @(item.Vive.Nombre + " " + item.Vive.Apellido) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdContrato }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdContrato }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdContrato })
            </td>
        </tr>
        }
    </tbody>
</table>
