@model proyecto.Models.Contrato

@{
    ViewData["Title"] = "Renovar Contrato";
}

<h3 style="text-align: center;">RENOVAR CONTRATO N°: @ViewBag.IdContra</h3>
@if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
<hr />
<div class="contenedorFormulario">
    <form asp-action="Renovar" method="post">
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdInmueble" class="control-label">DIRECCION:</label>
                    <input type="text" class="form-control" value="@(ViewBag.Inmueble.Direccion)" readonly/>
                    <input asp-for="IdInmueble" class="form-control" hidden/>
                    <span asp-validation-for="IdInmueble" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="IdContrato" class="control-label"></label>
                    <input asp-for="IdContrato" class="form-control" readonly/>
                    <span asp-validation-for="IdContrato" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="IdInquilino" class="control-label">INQUILINO:</label>
                    <input asp-for="IdInquilino" class="form-control" hidden/>
                    <input type="text" class="form-control" name="IdInquilino" value="@(ViewBag.Inquilino.ToString())" readonly/>
                    <span asp-validation-for="IdInquilino" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="FechaDesde" class="control-label">FECHA DESDE:</label>
                    <input type="Date" asp-for="FechaDesde" class="form-control" readonly/>
                    <span asp-validation-for="FechaDesde" class="text-danger"></span>
                </div>
            </div>
            <div class="col" style="margin-top: 10px;">
                <div class="form-group">
                    <label asp-for="FechaHasta" class="control-label">FECHA HASTA:</label>
                    <input type="Date" asp-for="FechaHasta" class="form-control" min="@Model.FechaHasta.Value.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-top: 10px;">
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Renovar" class="btn btn-primary" /> |
                    <button class="btn btn-secondary" asp-action="Index">Volver menu principal</button>
                </div>
            </div>
        </div>
    </form>
</div>