<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/proyecto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: Roboto Slab, serif;">INMOBILIARIA ULP</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietarios" asp-action="Index" style="font-family: Inter, sans-serif;"><span class="lnr lnr-users"></span> Propietarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inmuebles" asp-action="Index" style="font-family: Inter, sans-serif;"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inquilinos" asp-action="Index" style="font-family: Inter, sans-serif;"><span class="lnr lnr-users"></span> Inquilinos</a>                   
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contratos" asp-action="Index" style="font-family: Inter, sans-serif;"><span class="lnr lnr-file-empty"></span> Contratos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="Index" style="font-family: Inter, sans-serif;"><img width="18" height="18" src="https://img.icons8.com/dotty/80/money.png" alt="money"/> Pagos</a>
                            </li>
                        }
                        @if (User.IsInRole("administrador"))
                            {   <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Index" style="font-family: Inter, sans-serif;"><span class="lnr lnr-users"></span> Usuarios</a>
                                </li>
                            }
					    </ul>
                </div>
                @if(!User.Identity.IsAuthenticated){
                    <a class="btn btn-secondary text-light navbar-brand float-right" href='/Usuarios/Login' style="font-family: Inter, sans-serif;">Iniciar sesión <span class="lnr lnr-enter"></span></a>
                }else{
					<div class="dropdown">
						<a class="btn btn-primary dropdown-toggle text-light" style="font-family: Inter, sans-serif;" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
							<span class="lnr lnr-user"></span> @User.Identity.Name
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Perfil" style="font-family: Inter, sans-serif;"><i class="lnr lnr-user"></i> Perfil</a>
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Logout" style="font-family: Inter, sans-serif;"><i class="lnr lnr-exit"></i> Cerrar Sesión</a>
						</div>
					</div>
                }
            </div>
        </nav>
    </header>
    <main role="main" >
        <div class="">
            @if (TempData["Id"] != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> la endidad fue creada con exito con ID: @TempData["Id"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }else if (TempData["Edit"] != null){
				<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> la endidad fue editada con exito.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
			}else if (TempData["Delete"] != null){
				<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> la endidad fue eliminada con exito.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
			}else if (TempData["Renovado"] != null){
				<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> El contrato fue renovado con exito.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
			}else if (TempData["Cancelado"] != null){
				<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> El contrato fue cancelado con exito.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
			}else if(ViewBag.Mensaje != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }else if (ViewBag.Error != null)
			{
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>¡Error!</strong> @ViewBag.Error
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
        </div>
        <div class="contenido">
            @RenderBody()
        </div>
    </main>    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Proyecto - Inmobiliaria ULP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>
