<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proyecto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/proyecto.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">INMOBILIARIA</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietarios" asp-action="Index"><span class="lnr lnr-users"></span> Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inquilinos" asp-action="Index"><span class="lnr lnr-users"></span> Inquilinos</a>                   
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contratos" asp-action="Index"><span class="lnr lnr-file-empty"></span> Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="Index"><img width="18" height="18" src="https://img.icons8.com/dotty/80/money.png" alt="money"/> Pagos</a>
                        </li>
					    </ul>
                </div>
                @if(!User.Identity.IsAuthenticated){
                    <a class="navbar-brand float-right" href='/Usuarios/Login'><span class="lnr lnr-enter"></span>Loguearse</a>
                }else{
                
                @if (User.IsInRole("administrador"))
					{
						<a class="py-2 d-none d-md-inline-block" asp-controller="Usuarios" asp-action="Index"><span class="lnr lnr-users"></span> Usuarios</a>
					}
					<div class="dropdown">
						<a class="btn btn-primary dropdown-toggle text-light" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
							<span class="lnr lnr-user"></span> @User.Identity.Name
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Perfil"><i class="lnr lnr-user"></i> Perfil</a>
							<a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
						</div>
					</div>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="">
            @if (ViewBag.Id != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> la endidad fue creada con exito con ID: @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }else if(ViewBag.Mensaje != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            <div class="pb-3">
                @RenderBody()
            </div>
        </div>
    </main>    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - proyecto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>
